In [6]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
%cd '/content/drive/My Drive/Masters_Project/Datasets/OASIS3'

/content/drive/.shortcut-targets-by-id/1bqqm9-0FMOqiqyH_NIQBh-lJ36pWa7aX/Masters_Project/Datasets/OASIS3

In [ ]:
#!git clone https://github.com/NrgXnat/oasis-scripts.git

In [ ]:
!ls

 archive		       OAS30001_MR_d0757   pre-processing
 converted_images	       OAS30002_MR_d0371  'Usage Instructions.gdoc'
 converted_images_handpicked   oasis-scripts

In [ ]:
!pwd

/content/drive/My Drive/Masters_Project/Datasets/OASIS3

In [ ]:
!du -h ./oasis-scripts/download_scans/ --max-depth=1

64G	./oasis-scripts/download_scans/data
64G	./oasis-scripts/download_scans/

In [ ]:
#Step2: Read in names of all folders downloaded and remove from the csv. Re-run the downloader

In [10]:
!ls ./data >> downloaded_mr_data.txt

In [28]:
to_download = pd.read_csv('./download_scans/dl_scan_list_header.csv')
downloaded = pd.read_csv('./download_scans/downloaded_mr_data_header.txt')

In [23]:
#to_download.to_csv('./download_scans/dl_scan_list.csv', columns=['OAS30001_MR_d0129'], index=None)

In [32]:
print(to_download.head(4))
print(downloaded.head(4))

                  MR
0  OAS30001_MR_d0129
1  OAS30001_MR_d0757
2  OAS30001_MR_d2430
3  OAS30001_MR_d3132
                  MR
0  OAS30001_MR_d0129
1  OAS30001_MR_d0757
2  OAS30001_MR_d2430
3  OAS30001_MR_d3132

In [33]:
lef_files_to_dl = pd.merge(to_download, downloaded, how="outer", indicator=True)

In [34]:
lef_files_to_dl.head(4)

                  MR _merge
0  OAS30001_MR_d0129   both
1  OAS30001_MR_d0757   both
2  OAS30001_MR_d2430   both
3  OAS30001_MR_d3132   both

In [35]:
lef_files_to_dl = lef_files_to_dl[lef_files_to_dl['_merge'] == 'left_only']

In [36]:
lef_files_to_dl.shape

(1619, 2)

In [39]:
lef_files_to_dl.to_csv('./download_scans/download.csv', columns=['MR'], index=None)

In [4]:
# Step 2: Download MR scan csv and ADRC clinical data from XNAT (Oasis webpage) and run them through the alignment script (MR visit with clinical visit)

In [5]:
!ls

 archive		       OAS30001_MR_d0757   pre-processing
 converted_images	       OAS30002_MR_d0371  'Usage Instructions.gdoc'
 converted_images_handpicked   oasis-scripts

In [7]:
labels = pd.read_csv('sess_match_output.csv')

In [8]:
labels.head()

   Unnamed: 0     ADRC_ADRCCLINICALDATA ID  ... PUPs_MR  Day_MR
0           2  OAS30001_ClinicalData_d0722  ...     NaN   757.0
1          13  OAS30002_ClinicalData_d0751  ...     NaN   653.0
2          17  OAS30002_ClinicalData_d2263  ...     NaN  2345.0
3          23  OAS30003_ClinicalData_d2630  ...     NaN  2682.0
4          25  OAS30003_ClinicalData_d3288  ...     NaN  3320.0

[5 rows x 35 columns]